<ion-header>
	<ion-toolbar>
		<ion-title>News</ion-title>
		<ion-buttons slot="end">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <div class="container"><ion-button (click)="clearLocal()" size="small"><ion-icon name="close"></ion-icon>Remove favorite news</ion-button></div>

  <ion-card class="card" *ngFor = "let item of favorite">
    <a href="{{item.url}}">
      <img alt="{{item.title}}" src="{{item.img}}" />
    </a>
    <ion-card-header>
      <a href="{{item.url}}">
        <ion-card-title class="title">{{item.title}}</ion-card-title>
      </a>
    </ion-card-header>
  </ion-card>
</ion-content>
